.recent-notes {
  & > h3 {
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
  }

  & > ul.recent-ul {
    list-style: none;
    margin-top: 1rem;
    padding-left: 0;

    & > li {
      margin: 1.5rem 0;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid var(--lightgray);

      &:last-child {
        border-bottom: none;
      }

      .section > .desc > h3 {
        margin-bottom: 0.25rem;

        & > a {
          background-color: transparent;
        }
      }

      .section > .meta {
        margin: 0 0 0.5rem 0;
        opacity: 0.6;
        font-size: 0.9rem;
      }

      .section > .description {
        margin: 0.5rem 0;
        color: var(--darkgray);
        font-size: 0.95rem;
        line-height: 1.5;
      }
    }
  }
}
